@import "../tools/variables";
@import "../tools/mixins";

body {
  font-family: $font-family-helvetica-neue;
}

a {
  cursor: pointer;
  color: $color-button-blue;
  &:hover {
    color: $color-button-blue-hover;
  }
  &.blue-bg {
    color: inherit;
    text-decoration: underline;
  }
}

.page {
  min-height: 100vh;
  background-color: $content-background-color;
}

.btn-no-bg,
.btn-white-bg,
.btn-blue-bg,
.btn-red-bg,
.btn-nav-toggle {
  @extend .btn;
  font-size: 16px;
  border-radius: 3px;
  padding: 0 16px;
  height: 36px;
}

.btn-no-bg {
  border: solid 1px $color-border-grey-blue;
  color: $color-button-blue;
  background: transparent;
}

.btn-white-bg {
  border: solid 1px #d3dbe2;
  background-color: white;
  color: $color-button-blue !important;
  &:hover {
    background-color:#f5f6f7;
  }
}

.btn-blue-bg {
  background-color: $color-button-blue;
  color: $color-white !important;
  &:hover {
    background-color: $color-button-blue-hover;
  }
}

.btn-red-bg {
  background-color: $color-button-red;
  color: $color-white !important;
  &:hover {
    background-color: $color-button-red-hover;
  }
}

.float-right {
  float: right;
}

.header-toolbar {
  float: left;
  margin-right: 12px;
  :first-child {
    border-right: none !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  :last-child {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0 !important;
  }
  .btn-white-bg {
    float: left;
  }
}
