<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopify_App</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../../../../bower_components/components-font-awesome/css/font-awesome.css"/>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="../../../styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="../../../../bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>

<div class="main_dashboard col-sm-12 col-xs-12 col-md-12 no-padding">
  <div class="col-sm-2 col-md-2 no-padding hidden-xs"></div>
  <div class="dashboard col-sm-10 col-md-10 no-padding col-xs-12">
    <header class="header col-sm-12 col-md-12 hidden-xs no-padding">
      <div class="header-left-side col-sm-6 col-md-6 no-padding pull-left">
        <img src="../../../images/dashboard_header_fill.png" class="header-icon" alt="">
        <p class="header-titles">
            <span class="header-main-title">
              Sell Tickets
            </span>
          <span class="header-main-slash">
              /
            </span>
          <a href="">
              <span class="page-title">
                Dashboard
              </span>
          </a>
        </p>
      </div>
      <div class="header-right-side no-padding col-sm-6 col-md-6 pull-right text-right">
        <div class="clearfix" style="display: inline-block">
          <div class="header-right-dashboard-help-main-buttons-area">
            <div class="header-right-dashboard-main-button">Dashboard</div>
            <div class="divide-line"></div>
            <div class="header-right-help-main-button">Help</div>
          </div>
          <button type="button" class="btn btn-primary header-right-create-event-main-button">Create event</button>
        </div>
      </div>
    </header>
    <header class="col-xs-12 visible-xs header no-padding-xs">
      <div class="col-xs-12 header-menu-and-title-area-xs">
        <button type="button" class="btn btn-default navbar-toggle-button">
          <img src="../../../images/dashboard_header_menu_button_responsive.png" class="" alt="">
        </button>
        <a href="">
          <span class="page-title">
            Dashboard
          </span>
        </a>
      </div>
      <div class="col-xs-12 header-right-side">
        <div class="clearfix" style="display: inline-block">
          <div class="header-right-dashboard-help-main-buttons-area">
            <div class="header-right-dashboard-main-button">Dashboard</div>
            <div class="divide-line"></div>
            <div class="header-right-help-main-button">Help</div>
          </div>
          <button type="button" class="btn btn-primary header-right-create-event-main-button">Create event</button>
        </div>
      </div>
    </header>
    <section class="col-sm-12 col-xs-12 col-md-12 main-content dashboard_content no-padding">
      <div class="col-sm-12 col-md-12 dashboard-content-title-and-create-button-area hidden-xs">
          <span class="dashboard-content-title">
            Events
          </span>
        <button type="button" class="btn btn-default create-delete-edit-event-main-button">Create event</button>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnails-area">
        <section class="col-sm-6 col-md-4 col-xs-12 no-padding-xs event-thumbnails" style="padding-right: 14px;">
          <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-elements">
            <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-image">
              <img src="../../../images/dashboard_content_image1.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-description">
              <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-description-title">
                Lovebox
              </div>
              <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-description-tickets-sold">
                1,5654 tickets sold
              </div>
              <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-description-profit">
                £5,1546 profit
              </div>
            </div>
          </div>
        </section>
        <section class="col-sm-6 col-xs-12 col-md-4 no-padding-xs event-thumbnails"
             style="padding-left:14px;padding-right: 14px;">
          <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-elements">
            <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-image">
              <img src="../../../images/dashboard_content_image2.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 no-padding middle-event-thumbnail-description event-thumbnail-description">
              <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-description-title">
                Glastonbury
              </div>
              <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-description-tickets-sold">
                0 sold
              </div>
              <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-description-profit">
                £0 profit
              </div>
            </div>
          </div>
        </section>
        <section class="col-sm-6 col-xs-12 col-md-4 event-thumbnails no-padding-xs" style="padding-left: 14px;">
          <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-elements">
            <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-image">
              <img src="../../../images/dashboard_content_image3.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-description">
              <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-description-title">
                T in the park
              </div>
              <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-description-tickets-sold">
                1,5654 tickets sold
              </div>
              <div class="col-sm-12 col-xs-12 col-md-12 no-padding event-thumbnail-description-profit">
                £5,1546 profit
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="../../../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../../../bower_components/modernizr/modernizr.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
<script src="../../../../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="../../../scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
