@import "../tools/variables";

header{
  background-color: $background-color-white;
  .header-breadcrumb{
    padding-top: 16px;
    padding-bottom: 17px;
    font-size: 20px;
    color: $color-less-grey;
    .header-icon{
      width: 20px;
      height: 20px;
      margin-right: 10px;
      /*margin-bottom: 4px;*/
    }
    .header-menu-title{
      margin-right: 7px;
    }
    .header-slash{
      margin-right: 1px;
    }
    .page-title{
      color: $color-less-black;
    }
  }
  .header-right-nav{
    padding-top: 10px;
    padding-bottom:10px;
    padding-right: 22px;
    font-size: 16px;
  }
}
