@import "../tools/variables";

header{
  height: 56px;
  background-color: $background-color-white;
  .header-left-side{
    padding-top: 16px;
    padding-bottom: 17px;
    .header-icon{
      width: 20px;
      height: 20px;
      margin-right: 10px;
      float: left;
    }
    .header-titles{
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #798c9c;
      margin: 0;
      .header-main-title{
        margin-right:7px;
      }
      .header-main-slash{
        margin-right: 1px;
      }
      .page-title{
        color: $color-less-black;
      }
    }
  }
  .header-right-side{
    padding-top: 10px;
    padding-bottom:10px;
    padding-right: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 16px;
    .header-right-dashboard-help-main-buttons-area{
      float: left;
      width: 170px;
      height: 36px;
      border-radius: 3px;
      border: solid 1px $color-border-grey-blue;
      text-align: left;
      color: $color-button-blue;
      margin-right: 12px;
      .header-right-dashboard-main-button{
        float: left;
        cursor: pointer;
        padding-left: 15px;
        margin-right: 12px;
        padding-bottom: 10px;
        padding-top: 8px;
      }
      .divide-line{
        width: 1px;
        height: 34px;
        background-color: $color-border-grey-blue;
        float: left;
      }
      .header-right-help-main-button{
        cursor: pointer;
        padding-left: 14px;
        margin-right: 13px;
        padding-bottom: 10px;
        padding-top: 8px;
        float: left;
      }
    }
    .header-right-create-event-main-button{
      width: 126px;
      height: 36px;
      border-radius: 3px;
      background-color: $color-button-blue;
      color: $color-white;
    }
  }
}
