@font-face {
  font-family: HelveticaNeueLight;
  src: url('../../fonts/HelveticaNeue Light.ttf');
}
@font-face {
  font-family: HelveticaNeueLt;
  src: url('../../fonts/HelveticaNeueLt.ttf');
}
@font-face {
  font-family: HelveticaNeue;
  src: url('../../fonts/HelveticaNeue.ttf');
}
@font-face {
  font-family: HelveticaNeueThin;
  src: url('../../fonts/HelveticaNeue Thin.ttf');
}
@font-face {
  font-family: HelveticaNeueBold;
  src: url('../../fonts/Helvetica Neu Bold.ttf');
}

