@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/HelveticaNeue.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/HelveticaNeueBd.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/HelveticaNeueIt.ttf');
  font-weight: normal;
  font-style: italic;
}
