@import "variables";

//Breakpoints
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $screen-lg-min) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: $screen-md-min)  and (max-width:$screen-md-max) {
      @content;
    }
  } @else if $point ==  phablet {
    @media (max-width: $screen-sm-max) and (min-width:$screen-sm-min) {
      @content;
    }
  } @else if $point ==  mobile {
    @media (min-width: $screen-xs-min) {
      @content;
    }
  } @else if $point ==  mobile-max {
    @media (max-width: $screen-xs-max) {
      @content;
    }
  } @else {
    @media (min-width: $point) {
      @content;
    }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin appearance($appearance) {
  -moz-appearance: $appearance;
  -webkit-appearance: $appearance;
  appearance: $appearance;
}