@import "../tools/variables";
@import "../tools/mixins";

// responsive design start
@include breakpoint(mobile-max) {
  .no-padding-xs{
    padding: 0!important;
  }
  header{
    height: auto!important;
    .header-menu-and-title-area-xs{
      padding:14px 0 0 10px;
      button{
        width: 39px;
        height: 39px;
        border-radius: 3px;
        background-color: $color-white;
        border: solid 1px $color-border-grey-blue;
        padding:0;
        cursor: pointer;
        margin-right:8px;
        img {
          width: 17px;
          height: 14px;
          object-fit: contain;
        }
      }
    }
    .page-title{
      color: $color-black;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      vertical-align: middle;
    }
    .header-right-side{
      padding:8px 8px 12px 10px!important;
      .header-right-dashboard-help-main-buttons-area{
        margin-right:5px!important;
      }
    }
  }
  .event-thumbnails-area{
    padding-left:0!important;
    margin-top: 0!important;
  }
  .main_dashboard {
    .dashboard {
      .dashboard_content{
        padding: 15px!important;
        height: auto!important;
      }
    }
  }
}
