@import "../tools/variables";
@import "../tools/mixins";

@include breakpoint(phablet) {
  body {
    padding-left: 0;
  }
}

@include breakpoint(mobile-max) {
  body {
    padding-left: 0;
  }

  .no-padding-xs {
    padding: 0 !important;
  }

  .btn-no-bg,
  .btn-blue-bg,
  .header-toolbar-button {
    padding: 0 14px !important;
  }

  header {
    height: auto !important;
    border-bottom: solid 1px $color-light-grey;
    .header-breadcrumb-xs {
      padding: 14px 0 0 10px;
      .btn-nav-toggle {
        width: 40px;
        height: 40px;
        padding: 0;
        margin-right: 8px;
        border-radius: 3px;
        background-color: $color-white;
        border: solid 1px $color-border-grey-blue;
        cursor: pointer;
        img {
          width: 17px;
          height: 14px;
          object-fit: contain;
        }
      }
    }
    .page-title {
      font-size: 20px;
      color: $color-black;
      vertical-align: middle;
    }
    .header-right-nav {
      padding: 8px 8px 12px 10px !important;
      * {
        float: right;
      }
      .header-toolbar {
        float: left;
        margin-right: 0;
      }
    }
  }
  .content {
    padding-left: 15px !important;
    padding-right:15px !important;
    padding-top: 0 !important;
    .content-main {
      padding-top: 15px !important;
    }
  }
}
