.create-event-scr {
	.content {
		padding: 0 !important;

		@include breakpoint(768px) {
			padding-left: 22px !important;
			padding-right: 22px !important;
		}

		.wysihtml5-toolbar {
			background-color: #FAFBFC;
			border: 1px solid #e8ecef;
			@include border-radius(3px);
			padding: 10px;

			.current-font {
				display: none;
			}
		}

		.wysihtml5-sandbox {
			width: 100% !important;
			border: 1px solid #e8ecef !important;
			border-top: 0px !important;
			padding: 10px !important;
		}

		.content-header {
			color: #31373d;
			font-size: 15px;
			font-weight: normal;
			line-height: normal;
			letter-spacing: normal;
			margin: 17px 0;
		}

		.content-header2 {
			color: #000000;
			font-family: HelveticaNeue, Arial, sans-serif;
			font-size: 18px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			line-height: normal;
			margin: 21px 0px 17px;
		}

		.upload-img-link {
			font-size: 15px;
			line-height: normal;
			position: absolute;
			top: 22px;
			right: 15px;
		}

		.btn-revert {
			text-align: left;
		}

		.content-right {
			background-color: transparent;
			padding: 0;

			@include breakpoint(768px) {
				background-color: transparent;
				@include box-shadow(none);
			}

			.content-right-md {
				background-color: #ffffff;
				@include box-shadow(0 3px 3px 0 rgba(0, 0, 0, 0.1));
				float: left;
				padding: 0px 15px 15px;
				margin: 0px 0px 15px;
				position: relative;
				width: 100%;

				@include breakpoint(768px) {
					margin-top: 20px;
					padding: 0px 15px 15px;
				}

				.upload-img {
					height: 104px;
					margin: 0 auto;
				}

				.upload-img-label {
				  color: #c3cfd8;
					font-size: 16px;
				  font-weight: bold;
				  line-height: normal;
				  letter-spacing: normal;
				  margin-bottom: 40px;
				  text-align: center;
				}

				.note-editor {
					min-height: 220px;
				}

				.note-editable {
					min-height: 220px;
				}

				table {
					@include breakpoint(768px) {
						width: auto;
					}

					td {
						border-top: 0px;
						padding-left: 0px;
						padding-right: 0px;

						input {
							color: #1a1a1a;
							display: inline-block;
							font-size: 14px;
							height: 40px;
							line-height: normal;
							letter-spacing: normal;
							text-align: left;
							padding: 12px 10px;
							width: 115px;

							@include breakpoint(768px) {
								width: 197px;
								margin-right: 19px;
							}
							@include breakpoint(phablet) {
								width: 140px;
								margin-right: 19px;
							}
						}
					}
				}

				.ticket-type-price {
					letter-spacing: normal;
					line-height: normal;
					padding-left: 8px;
					padding-right: 8px;
					width: 62px;

					@include breakpoint(768px) {
						width: 175px;
					}
					@include breakpoint(phablet) {
						width: 130px;
					}
				}

				.ticket-type-qty {
					width: 59px;

					@include breakpoint(768px) {
						width: 87px;
					}
				}

				.del-ticket-type {
					background-color: #ffffff;
					border: solid 1px #d3dbe2;
					border-radius: 3px;
					color: #0078bd;
					font-size: 20px;
					height: 40px;
					width: 35px;
					.icon-trash {
						margin-bottom: 3px;
					}
				}
			}
		}

		.content-left {
			padding: 0;
			@include breakpoint(768px) {
				padding: 0 0 0 22px;
			}

			.content-left-md {
				padding: 16px 15px 19px 15px;
				background-color: #cae9f7;
				@include box-shadow(0 3px 3px 0 rgba(0, 0, 0, 0.1));
				float: left;
				margin-bottom: 22px;

				@include breakpoint(768px) {
					margin-top: 20px;
					padding: 22px 22px 27px 22px;
				}

				.content-header {
					color: #000000;
					display: inline-block;
					font-family: HelveticaNeue, Arial, sans-serif;
					font-size: 18px;
					font-weight: bold;
					line-height: normal;
					letter-spacing: normal;
					margin: 0;
					padding-left: 7px;
				}

				.content-desc {
					margin: 0;
					padding: 0;
					font-size: 15px;
					line-height: 1.6;
					letter-spacing: normal;
					text-align: left;
					color: #1a1a1a;
				}
			}
		}

		.content-buttons {
			padding: 0px 15px;
			margin-bottom: 23px;

			@include breakpoint(768px) {
				margin-bottom: 25px;
				margin-top: 5px;
				padding-right: 0px;
				padding-left: 0px;
			}
		}
	}
}